<!DOCTYPE html>
<html>
<head>
    <title>OVA Interface</title>
    <script>
        async function fetchData() {
            const response = await fetch('/api/ova/');
            const data = await response.json();
            document.getElementById('apiData').innerText = JSON.stringify(data, null, 2);
        }
        window.onload = fetchData;
    </script>
</head>
<body>
    <h1>OVA Interface1</h1>
    <p>Esta es la interfaz de OVA</p>
    <pre id="apiData"></pre>
    <button id="toggle-ova-button">Iniciar OVA</button>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#toggle-ova-button').click(function() {
            $.ajax({
                url: "{% url 'toggle-ova' %}",
                type: 'POST',
                dataType: 'json',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.status === 'started') {
                        $('#toggle-ova-button').text('Detener OVA');
                    } else {
                        $('#toggle-ova-button').text('Iniciar OVA');
                    }
                }
            });
        });
    });
</script>
    {% if debug %}
    {% debug %}
{% endif %}

</body>
</html>
